{% extends 'base.html' %}

{% block title %}Add Task{% endblock %}

{% block content %}
<header>
    <nav>
        <ul>
            <li style="margin: 5% auto"><a class="nav-link" href="{% url 'all-tasks' %}">Go back</a></li>
            <li>
                <form method="post">
                    {% csrf_token%}
                    {{form.as_p}}
                    <input class="nav-link" type="submit" value="Submit task">
                </form>
            </li>
        </ul>
    </nav>
</header>

{% endblock %}