{% extends 'base.html' %}

{% block title %}Delete Task{% endblock %}

{% block content %}

<header>
    <nav>
        <ul>
            <li><a class="nav-link" href="{% url 'all-tasks' %}">Go back</a></li>
        </ul>
        <ul style="margin: 5% 0">
            <li>
                <form method="post">
                    {% csrf_token%}
                    <p>Are you sure that you want to delete this item?</p>
                    <h3>{{task}}</h3>
                    <input class="nav-link" type="submit" value="Delete task">
                </form>
            </li>
        </ul>
    </nav>
</header>

{% endblock %}