{% extends 'base.html' %}

{% block title %}User Account{% endblock %}

{% block content %}
    <header>
        <nav>
            <ul>
                <li><a class="nav-link" href="{% url 'all-tasks' %}">Go back</a></li>
            </ul>
            <ul style="margin: 5% 0">
                <li>
                    <form method="post">
                        {% csrf_token %}
                        <table class="">{{ form.as_p }}</table>
                        <input class="nav-link" type="submit" value="Submit">
                    </form>
                </li>
            </ul>
        </nav>
    </header>

{% endblock %}