{% extends 'base.html' %}

{% load static %}

{% block css_files %}
<link rel="stylesheet" type="text/css" href='{% static "todo/style.css" %}'>
{% endblock %}

{% block title %}ToDo List{% endblock %}

{% block content %}

    {% if user.is_authenticated %}

        <!-- Header with navigation button (Login, Register, Create Task) -->
        <header>
            <nav>
                <div align="right">
                    <ul>
                        <li style="color: purple">
                            {% if user.first_name %}Welcome, {{ user.first_name }}!
                            {% else %}Welcome, {{ user.username }}!{% endif %}
                        </li>
                        <li><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>
                        <li><a class="nav-link" href="{% url 'password-change' %}">Change password</a></li>
                        <li><a class="nav-link" href="{% url 'delete-user' user.id %}">Delete user</a></li>
                    </ul>
                </div>
                <br>
                <ul style="text-align: left">
                    <li>
                        <form class="form" method="get">
                            <input type="search" placeholder="Start typing here" aria-label="Search" name="searchbar" value="{{ search }}">
                            <input class="nav-link" type="submit" value="Search">
                        </form>
                    </li>
                    <li>Incomplete tasks:<span class="u-tasks"> {{ count_no }} </span></li>
                    <li>Complete tasks:<span class="c-tasks"> {{ count_yes }} </span></li>
                    <li class="all-tasks"> All tasks:<span class="a-tasks"> {{ count_all }} </span></li>

                </ul>
            </nav>
        </header>

        <div class="table-container">
            <a class="table-msg" href="{% url 'create-task' %}">Create Task</a>
            <table>
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Completed</th>
                    <th>Created</th>
                    <th>Due To</th>
                    <th>Detail</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>

                <tbody>
                {% for task in all_tasks %}
                    {% if task.completed %}
                        <tr>
                            <td class="striker">{{ task.name }}</td>
                            <td><img class="img-icon" src="../static/img/complete-icon.png" alt="Finished"></td>
                            <td class="striker">{{ task.created }}</td>
                            <td class="striker">{{ task.time_remaining|timeuntil }}</td>
                            <td><a href="{% url 'detail-task' task.id %}"><img class="img-icon" src="../static/img/detail-icon.png" alt="Detail"></a></td>
                            <td><a href="{% url 'edit-task' task.id %}"><img class="img-icon" src="../static/img/edit-icon.png" alt="Edit"></a></td>
                            <td><a href="{% url 'delete-task' task.id %}"><img class="img-icon" src="../static/img/delete-icon.png" alt="Delete"></a></td>
                        </tr>

                    {% else %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td><img class="img-icon" src="../static/img/incomplete-icon.png" alt="Unfinished"></td>
                            <td>{{ task.created }}</td>
                            <td>{{ task.time_remaining|timeuntil }}</td>
                            <td><a href="{% url 'detail-task' task.id %}"><img class="img-icon" src="../static/img/detail-icon.png" alt="Detail"></a></td>
                            <td><a href="{% url 'edit-task' task.id %}"><img class="img-icon" src="../static/img/edit-icon.png" alt="Edit"></a></td>
                            <td><a href="{% url 'delete-task' task.id %}"><img class="img-icon" src="../static/img/delete-icon.png" alt="Delete"></a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </tbody>

            </table>
        </div>
    {% else %}
        <header>
            <nav>
                <ul>
                    <li><a class="nav-link"href="{% url 'login' %}">Login</a></li>
                    <li class="register"><a class="nav-link" href="{% url 'register-user' %}">Register</a></li>
                    <li><h1>Welcome to <strong style="color: purple">"To Do List"</strong> application</h1></li>
                    <li><h5>The final project of the Python course.</h5></li>
                </ul>
            </nav>
        </header>
    {% endif %}
{% endblock %}

{% block section %}
<section>

    <div class="hero">
        <h2>How it all began?</h2>
        <h4>With various motivations, we signed up for the <a href="https://sdacademy.cz/"><u>SDA Academy</u></a> course,
            where we wanted to learn the Python programming language from scratch.
            This should bring us closer to the opportunity to get a job as a Junior Python Developer.
        </h4>
    </div>

    <div class="timeline">
        <ul>
            <li>
                <div class="content">
                    <h3>Python - basics</h3>
                    <p>It really started from the beginning. We went through ones and zeros to the first
                        computers. We wrote the first line of code. Yippee! Gradually, we have learned the
                        complete basics of Python, from variables and functions to conditions and loops.
                    </p>
                </div>
                <div class="time">
                    <h4>November 2020</h4>
                </div>
            </li>

            <li>
                <div class="content">
                    <h3>Software Testing and TDD</h3>
                    <p>Software development also includes testing it. We explained the importance of testing and tried
                        to write our own tests. No matter how great a programmer you are - you will always make mistakes.
                    </p>
                </div>
                <div class="time">
                    <h4>December 2020</h4>
                </div>
            </li>

            <li>
                <div class="content">
                    <h3>Python - intermediate</h3>
                    <p>We have discovered object-oriented programming. What the hell is that? It's a way to think about
                        code and write it. Classes, instances, attributes and methods are no longer foreign words to us.
                        Then came the decorators, generators, iterators, and we were ... yes, right there.
                    </p>
                </div>
                <div class="time">
                    <h4>January 2021</h4>
                </div>
            </li>

            <li>
                <div class="content">
                    <h3>Algorithms and data structures</h3>
                    <p>As with the recipe for cooking: it must be clear from each algorithm notation exactly what the
                        computer should do. Recursion will scare us in a dream for a long time to come and probably
                        nobody will forget the sorting algorithm dance scenes.
                    </p>
                </div>
                <div class="time">
                    <h4>February 2021</h4>
                </div>
            </li>

            <li>
                <div class="content">
                    <h3>Design patterns and good practices</h3>
                    <p>IMPORT THIS. That's the main thing you need to know.</p>
                </div>
                <div class="time">
                    <h4>February 2021</h4>
                </div>
            </li>

            <li>
                <div class="content">
                    <h3>SQL databases and their programming</h3>
                    <p>A SQL query goes into a bar, walks up to two tables and asks: "Can I join you?"
                    </p>
                </div>
                <div class="time">
                    <h4>March 2021</h4>
                </div>
            </li>

            <li>
                <div class="content">
                    <h3>HTML, CSS and JavaScript</h3>
                    <p>One for all, all for one. Like three musketeers kind and friendly. Elegant with a refined style.
                        What a wonderful world this Frontend is.
                    </p>
                </div>
                <div class="time">
                    <h4>April 2021</h4>
                </div>
            </li>

            <li>
                <div class="content">
                    <h3>Backend technologies</h3>
                    <p>Kitchen in full operation. We have learned about the raw materials. Now, we will learn to cook.
                        With this unchained Django, it's a really wild ride.
                    </p>
                </div>
                <div class="time">
                    <h4>May 2021</h4>
                </div>
            </li>

            <li>
                <div class="content">
                    <h3>Final project</h3>
                    <p> In the end, our study efforts make sense and tangible results. Let's try our application and
                        enjoy it!
                    </p>
                </div>
                <div class="time">
                    <h4>June 2021</h4>
                </div>
            </li>
            <li>
            </li>
            <li>
                <a class="nav-link" href="{% url 'all-tasks' %}">Back to top</a>
            </li>

            <div style="clear: both;"></div>
        </ul>
    </div>

</section>
{% endblock %}